name: Integration Tests with Unreleased OpenSearch

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        opensearch_ref: ['1.x', '2.0', '2.x', 'main']
    steps:
      - name: Checkout OpenSearch
        uses: actions/checkout@v3
        with:
          repository: opensearch-project/opensearch
          ref: ${{ matrix.opensearch_ref }}
          path: opensearch

      - name: Get OpenSearch branch top
        id: get-key
        working-directory: opensearch
        run: echo key=`git log -1 --format='%H'` >> $GITHUB_OUTPUT

      - name: Restore cached build
        id: cache-restore
        uses: actions/cache/restore@v3
        with:
          path: opensearch/distribution/archives/linux-tar/build/distributions
          key: ${{ steps.get-key.outputs.key }}

      - name: Assemble OpenSearch
        if: steps.cache-restore.outputs.cache-hit != 'true'
        working-directory: opensearch
        run: ./gradlew :distribution:archives:linux-tar:assemble

      - name: Save cached build
        if: steps.cache-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: opensearch/distribution/archives/linux-tar/build/distributions
          key: ${{ steps.get-key.outputs.key }}

      - name: Run OpenSearch
        working-directory: opensearch/distribution/archives/linux-tar/build/distributions
        run: |
          tar xf opensearch-min-*
          ./opensearch-*/bin/opensearch \
            -Enode.attr.testattr=test \
            -Epath.repo=/tmp \
            -Erepositories.url.allowed_urls=http://snapshot.test* \
            -d
          for attempt in {1..20}; do
            sleep 5
            if curl -s localhost:9200; then
              echo '=====> ready'
              exit 0
            fi
            echo '=====> waiting...'
          done
          exit 1

      - name: Checkout Rust Client
        uses: actions/checkout@v3
        with:
          path: client

      - name: Setup Rust tools
        uses: ./client/.github/actions/setup-rust-tools

      - name: Run integration tests
        working-directory: client
        run: cargo make test-yaml
        env:
          OPENSEARCH_URL: http://localhost:9200

      - uses: codecov/codecov-action@v3
        with:
          files: ./client/test_results/opensearch.lcov
          flags: integration

      - name: Save server logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: opensearch-logs-${{ matrix.opensearch_ref }}
          path: |
            opensearch/distribution/archives/linux-tar/build/distributions/**/logs/*