name: Integration tests

on:
  pull_request:
    paths-ignore:
      - 'README.md'
    branches:
      - "*"
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - "*"

jobs:
  assemble:
    name: Assemble
    runs-on: ubuntu-latest
    env:
      SECURE_INTEGRATION: true
    strategy:
      fail-fast: false
      matrix:
        cluster-type: ['opendistro', 'opensearch']

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
            components: rustfmt, clippy
      - run: "./.ci/run-tests ${{ matrix.cluster-type }} "
        name: Integ ${{ matrix.cluster-type }}